.text-container {
  color: #0b4f6c;
}

.text-container.inverted {
  background-color: #f3f0ed;
}

.text-container.inverted .text-list {
  align-items: initial;
  justify-content: space-around;
}

.text-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-image-container {
  display: flex;
  flex-direction: row;
}

.text-line-1 {
  font-size: 48px;
  line-height: 62px;
}

.text-line-2 {
  font-size: 24px;
  line-height: 36px;
}
