.textContainer {
  color: #0b4f6c;
}

.textContainer.inverted {
  background-color: #f3f0ed;
}

.textContainer.inverted .textList {
  align-items: initial;
  justify-content: space-around;
}

.textList {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textImageContainer {
  display: flex;
  flex-direction: row;
}

.textLine1 {
  font-size: 48px;
  line-height: 62px;
}

.textLine2 {
  font-size: 24px;
  line-height: 36px;
}
